<div class="_v_header-com_bold <%= show ? '' : 'hide' %>">
    <div class="container">
        <i></i><span><%= counter %></span><span><%= inputTxt %></span>
        <div>
            <input type="text" class="txt" value="<%= txtValue %>">
        </div>
        <div class="title">加粗</div>
    </div>
</div>