<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <%- include('fragment/head') %>
</head>
<body>
<h1>Home Page</h1>
<p><%= data %></p>
</body>
</html>
