<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>Users</h1>
<ul>
    <li>Andy</li>
    <li>Tom</li>
    <li>Lee</li>
</ul>
</body>
</html>
